# Netbeans gitignore
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Generic files
*.DS_Store
/practicals/Prac6/nbproject/private/
/practicals/Prac7/nbproject/private/
/practicals/JAXBadv/nbproject/private/
/practicals/CalculatorWSApplication/nbproject/private/
/practicals/CalculatorWS_Client_Application/nbproject/private/
/practicals/CalculatorWSServletClient/nbproject/private/
/practicals/CalculatorWSJSPClient/nbproject/private/