# Netbeans gitignore
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Generic files
*.DS_Store
/practicals/Prac6/nbproject/private/
/practicals/Prac7/nbproject/private/