* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240,240,240);
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(5,5,88);
    width: 90%;
    margin: 2px;
    color: white;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
}